.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #efefef;
}

.button-row {
  display: flex;
  margin-bottom: 10px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

button:hover {
  background-color: #0056b3;
}

.copy-button {
  background-color: #28a745;
}

.copy-button:hover {
  background-color: #218838;
}

.styled-table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #005198;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #005198;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  resize: both;
}

/* Confirm-alert dialog styles */
.react-confirm-alert-body>h1 {
  color: #121212;
}

.react-confirm-alert-button-group>button {
  background-color: #007bff;
  color: white;
}